.nav {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.nav-link {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    background: #38b6ff;
    color: #fff;
    margin: 20px;
    text-decoration: none;

}

.active {
    text-decoration: none;
    background: #ff914d;

}